# Machine Learning and Comic Book Characters
Ariana Olson, Emma Price

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import thinkstats2
import thinkplot

import sklearn.linear_model as linear_model
import sklearn.metrics as metrics

import keras.models
import keras.layers

import pickle

Using TensorFlow backend.

## Explore the data

In [2]:
with open('cat_dicts_both.pkl', 'rb') as f:
    cat_dicts_both = pickle.load(f)
    
with open('cat_dicts_both.pkl', 'rb') as f:
    cat_dicts_both = pickle.load(f)
    
with open('cat_dicts_both.pkl', 'rb') as f:
    cat_dicts_both = pickle.load(f)

In [3]:
both_df = pd.read_hdf('both_df.hdf5', key='both')
marvel_df = pd.read_hdf('marvel_df.hdf5', key='marvel')
dc_df = pd.read_hdf('dc_df.hdf5', key='dc')

In [6]:
both_df.head()

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,15641,9764,4.0,1.0,10.0,6.0,4.0,NaN,1.0,4043.0,869.0,1962.0
1,7139,2633,1629,3.0,1.0,4.0,25.0,4.0,NaN,1.0,3360.0,1259.0,1941.0
2,64786,17911,11142,3.0,2.0,4.0,2.0,4.0,NaN,1.0,3061.0,1486.0,1974.0
3,1868,7607,4735,3.0,1.0,4.0,2.0,4.0,NaN,1.0,2961.0,1275.0,1963.0
4,2460,16503,10256,2.0,1.0,4.0,3.0,4.0,NaN,1.0,2258.0,1401.0,1950.0